* {
  font-family: "Fira sans", sans-serif;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  flex-direction: column;
  color: #fff;
  background-color: rgb(38, 99, 129);
  display: flex;
}
header {
  background-color: rgb(55, 42, 42);
  border-bottom: rgb(255, 255, 255);
  display: flex;
  padding: 1.5rem 7%;
  justify-content: space-between;
  align-items: center;
}

.sectodo {
  padding: 1rem 1rem;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

#newList {
  display: flex;
}

input {
  border: 1.5rem;
  background: none;
}

#input {
  flex: 2 2 0%;
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
}

#add {
  color: rgb(79, 255, 35);
  font-size: 1.5rem;
  font-weight: 600;
}

main {
  max-width: 80%;
  width: 100%;
  margin: auto;
}

.list {
  padding: 1rem;
}

#tasks .task {
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.text {
  display: flex;
  background-color: none;
}

.content {
  flex: 1 1 0%;
}

.text {
  color: rgb(109, 109, 109);
  font-size: 1.5rem;
}

.task .actions .edit {
  text-size-adjust: 1rem;
  color: rgb(238, 192, 9);
  border: none;
  border-radius: 0.2rem;
}

.delete {
  color: crimson;
}

.task .actions button {
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.2rem;
}
footer {
  
  background-color: rgb(55, 42, 42);
  font-size: 15px;
  font-weight: 300;
  display: flex;
  padding: 1.5rem 7% ;
  justify-content: center;
  height: auto;


